<% title "Article" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<ul>
  <% for attachment in @article.attachments %>
    <li>
    <%= attachment.description %> - <%= link_to("Download", attachment.file_url) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Destroy", @article, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", articles_path %>
</p>
